.dictionary-card {
  margin: 3rem 1.5rem;
  min-width: 510px;
  &.card {
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2196f3;
    color: #fff;
    font-size: 1rem;
    border-bottom: none;
    .material-icons {
      color: #fff;
      font-size: 20px;
      vertical-align: sub;
      margin-right: .1rem;
    }
  }
  table {
    margin-top: 1.5rem;
    td:not(:last-of-type) {
      min-width: 180px;
    }
  }
  .form-control {
    width: 90%;
    padding-left: .75rem;
  }
}