.navbar {
  padding: {
    // left: 3rem!important;
    // right: 3rem!important;
  }
  .material-icons {
    position: relative;
    left: 26px;
  }
  .navbar-brand {
    // text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}